/*------------------------------------*\
  全局设定
\*------------------------------------*/


html, body {
background-color:#FAFAFA;
margin:0;
height:100%;
font-family:Roboto,Noto Sans SC;
text-rendering:optimizeLegibility;
-webkit-font-smoothing: antialiased;
vertical-align:baseline;
word-wrap:break-word;
word-break: break-all;
text-align: justify;
text-justify: inter-ideograph;
}

:root {
--mdc-theme-primary:#689f38;
--mdc-theme-accent:#ffc400;
}

header {
height:384px;
width:100%;
background-color:var(--mdc-theme-primary);
display: flex;
align-items:center;
justify-content:center;
}

a {
display:block;
position:relative;
}

hr {
margin-top:40px;
border-width:0.5px;
border-color:rgba(0, 0, 0, 0.12);
}

h2{
line-height:48px;
font-size:14px;
font-weight:500;
margin:0;
color:var(--mdc-theme-primary);
}

footer {
width:100%;
height:88px;
background-color:var(--mdc-theme-primary);
}

.mdc-button--raised.mdc-button--accent::before{background-color:rgba(0, 0, 0, 0.06);}
.mdc-button--raised.mdc-button--accent::after{background-color:rgba(0, 0, 0, 0.06);}



/*------------------------------------*\
  页首
\*------------------------------------*/


.header-body {
height:256px;
display: flex;
align-items:center;
}

.product_icon {
height:256px;
width:256px;
}

.header-core {
margin-left:64px;
}

.product_name {
height:33.66px;
width:146.289px;
}

.slogan {
width:300px;
font-size:20px;
color:rgba(255, 255, 255, 0.7);
margin:32px 0 48px 0;
}

.download_button {
display: flex;
align-items:center;
}

.download_icon {
height:24px;
width:24px;
margin-right:8px;
}

.download_text {
font-size:14px;
color:rgba(0, 0, 0, 0.7);
font-weight:600;
font-family:Roboto,Noto Sans SC;
}



/*------------------------------------*\
  介绍
\*------------------------------------*/


.introduction {
width:1024px;
margin:0 auto;
}

.subheader {
width:100%;
height:48px;
margin:16px 0 8px 0;
}

.intro-body {
width:1024px;
display: flex;
}

.intro-text {
width:360px;
flex-shrink:0;
margin:0;
margin-right:64px;
font-size:16px;
line-height:26px;
}

.intro-image {
height:192px;
width:600px;
display: flex;
align-items:center;
justify-content:center;
box-sizing:border-box;
overflow: hidden;
}

.intro-image-body {
height:192px;
width:auto;
}



/*------------------------------------*\
  作品
\*------------------------------------*/


.works-body {
width:100%;
height:260px;
margin:16px 0 48px 0;
}

.work-card {
width:192px;
height:260px;
display: flex;
box-sizing:border-box;
overflow: hidden;
flex-wrap:wrap;
}

.work-image {
height:192px;
width:100%;
background-size: cover;
display: flex;
align-items:center;
justify-content:center;
}

.work-image-body {
height:100%;
}

.work-info {
height:68px;
width:100%;
align-self:flex-start;
padding:16px;
box-sizing:border-box;
}

.work-title {
margin:0;
margin-bottom:8px;
font-size:16px;
line-height:16px;

}

.work-author {
margin:0;
font-size:14px;
line-height:14px;
opacity:0.7;
}



/*------------------------------------*\
  页脚
\*------------------------------------*/


.footer-body {
width:1024px;
height:100%;
margin:0 auto;
display: flex;
align-items:center;
flex-wrap:wrap;
}

.company_logo {
width:121.106px;
height:24.888px;
}

.company-link {
width:auto;
min-width:88px;
margin:0 8px;
height:24.888px;
font-size:16px;
text-align:center;
color:rgba(255, 255, 255, 0.7);
text-decoration:none;
}

.footer-links {
display:flex;
}
