@media screen and (max-width:1023px) {
.introduction {width:calc(100% - 48px);}
.intro-body {width:100%;}
.footer-body {width:calc(100% - 48px);}
}

@media screen and (max-width:960px) {
.intro-text {width:320px;margin-right:48px;}
}

@media screen and (max-width:840px) {
.intro-body {flex-wrap:wrap;}
.intro-text {width:auto;max-width:576px;margin:0;}
.intro-image {margin-top:24px;width:100%;}
}

@media screen and (max-width:720px) {
.slogan {width:140px;}
.sign {display:none;}
}

@media screen and (max-width:640px) {
.intro-text {width:100%;max-width:none;}
}

@media screen and (max-width:600px) {
header {height:548px;align-items:stretch;}
.header-body {width:100%;flex-wrap:wrap;justify-content:center;}
.header-core {width:100%;margin:0;display: flex;flex-wrap:wrap;justify-content:center;}
.slogan {width:100%;display: flex;justify-content:center;margin:24px 0 48px 0;}
.sign {display:block;}
.product_icon {margin:48px 0 32px 0;}
}

@media screen and (max-width:480px) {
header {height:512px;}
footer {height:112px;}
.introduction {width:calc(100% - 32px);}
.product_icon {height:224px;width:224px;margin:48px 0 32px 0;}
.intro-image-body {height:auto;width:100%;}
.footer-body {width:calc(100% - 32px);}
.footer-logo {width:100%;height:64px;display:flex;align-items:center;}
.footer-links {height:48px;}
.company-link {min-width:0;margin:0 32px 0 0;}
}